services:
  nginx:
    image: nginx:1.27.0
    container_name: ddbj-search-nginx-${DDBJ_SEARCH_ENV}
    volumes:
      - ./nginx/templates:/etc/nginx/templates:ro
    environment:
      TZ: ${TZ:-Asia/Tokyo}
      NGINX_ENVSUBST_FILTER: DDBJ_SEARCH
      DDBJ_SEARCH_ENV: ${DDBJ_SEARCH_ENV}
      DDBJ_SEARCH_ES_ENABLED: ${DDBJ_SEARCH_ES_ENABLED:-}
    ports:
      - 0.0.0.0:8000:80
    networks:
      - ddbj-search-network
    init: true

networks:
  ddbj-search-network:
    name: ddbj-search-network-${DDBJ_SEARCH_ENV}
    external: true
